@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700&display=swap');

/* Estilos globales */
body {
    font-family: "Cormorant Garamond", serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Fondo claro */
    color: #333;
    text-align: center; /* Centrar texto */
}

h2 {
    color: #eaafaf; /* Color rosado personalizado */
    margin-top: 50px; /* Margen superior */
    font-size: 2.5rem; /* Tamaño de fuente para el título */
}

p {
    font-size: 1.2rem; /* Tamaño de fuente para el párrafo */
    margin-bottom: 30px; /* Margen inferior */
}

/* Estilo para el botón */
button {
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    background-color: #eaafaf; /* Color rosado personalizado */
    color: white; /* Color de texto blanco */
    border-radius: 5px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
    font-size: 1.2rem; /* Tamaño de fuente del botón */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

button:hover {
    background-color: #d69c9c; /* Color más oscuro para el hover */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    h2 {
        font-size: 2rem; /* Tamaño de fuente más pequeño en pantallas pequeñas */
    }

    button {
        font-size: 1rem; /* Tamaño de fuente del botón más pequeño */
    }
}
