.productos-section {
    
    width: 1000px;
    position: relative;

    margin: 0 auto;
    top:-20%;
    
}
.producto-descripcion{
    display: flex;
    flex-direction: column; /* Alinea elementos en columna */
    justify-content: space-between;
    padding-left: 20px;
    max-width: 500px;
    width: 100%;

}

.producto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 950px;
    margin-top: 5%;
    
}

.swiper-slide img {
    width: 100%;           /* Ajusta el ancho de la imagen al contenedor */
    height: 300px;         /* Define una altura fija */
    object-fit: cover;     /* Hace que la imagen se ajuste sin distorsionarse */
    object-position: center; /* Centra la imagen dentro de su contenedor */
    box-shadow: 0 10px 40px #f29191;
    left:30%
}

.producto-imagen img {
    width: 200px;
    border-radius: 10px;
    margin-left: 50%; 
}

.producto-descripcion h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-right: 30%;
}

.producto-descripcion p {
    font-size:20px;
    margin-bottom: 10px;
    margin-right: 30%;
   
    font-weight: bold;
    
}

.producto-descripcion .btn {
    margin-top: 0; /* Espacio entre el precio y el botón */
    display: inline-block; /* Para que el botón respete el margen */
    padding: 5px 10px; /* Tamaño del botón */
   text-align: center; /* Centrar el texto */
    text-decoration: none; /* Sin subrayado */
    --color: #f79898;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.0em;
    line-height: 1.5em;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background-color: #faa3a3; /* Color de fondo */
    transition: color 0.5s;
    z-index: 1;
  
    border-radius: 6px;
    font-weight: 200px;
    color: white;
    
}

.btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background:#f86161;
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }
  
  .btn:hover {
    color: #fff;
  }
  
  .btn:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  
  .btn:hover:before {
    top: -30px;
    left: -30px;
  }
  
  .btn:active:before {
    background: #f14e4e;
    transition: background 0s;
  }

.swiper-button-next, .swiper-button-prev {
    color: #ff0000 !important; /* Cambia el color aquí (por ejemplo, rojo) */
}

.swiper-button-next, .swiper-button-prev {
    position: relative;
    top: 50%; /* Coloca los botones verticalmente centrados */
    z-index: 10; /* Asegura que los botones estén encima de otros elementos */
    transform: translateY(-50%); /* Alinea los botones verticalmente */
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco semitransparente */
    border-radius: 50%;
    padding: 15px;
}

.swiper-button-next {
    right: 0px; /* Muy cerca del borde derecho de la pantalla */
}

.swiper-button-prev {
    left: 0px !important; /* Muy cerca del borde izquierdo de la pantalla */
}
@media screen and (max-width: 480px) {
    .productos-section {
        width: 100%;
        top: -40%;
    }

    .producto {
        width: 100%;
        padding: 5px;
        
    }

    .producto-imagen img {
        width: 110px;
        margin-left: 30%;
    }

    .producto-descripcion h3 {
        font-size: 1rem;
        margin-left: 20%;
    }

    .producto-descripcion p {
        font-size: 0.9rem;
        margin-left: 20%;
    }

    .producto-descripcion .btn {
        width: 50%;
        font-size: 0.8rem;
        margin: 0 auto;
       
    }

    .swiper-slide img {
        height: 200px;
    }

    .swiper-button-next, .swiper-button-prev {
        padding: 5px; /* Reduce el tamaño de los botones de navegación */
    }
}
