@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Aplicar la fuente globalmente */
body {
    font-family: "Cormorant Garamond", serif;
    font-size: 25px; /* Tamaño de fuente ajustado */
}
.general {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}
.login-content {
    background: #fff;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 500px;
}
.login-content h2 {
    margin-bottom: 20px;
}
.input-div {
    position: relative;
    margin-bottom: 30px;
}
.input-div > .i {
    position: absolute;
    top: 20px;
    left: 15px;
}
.input-div > .div {
    position: relative;
}
.input-div > .div > h5 {
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #999;
    transition: .3s;
}
.input-div > .div > .input {
    width: 100%;
    padding: 15px 10px 15px 70px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    outline: none;
    background: none;
    color: #333;
    transition: .3s;
}
.input-div > .div > .input:focus {
    border-bottom: 2px solid #38d39f;
}
.input-div.focus > .div > h5 {
    top: -5px;
    font-size: 15px;
    color: #38d39f;
}
.links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Ajuste para separación de los enlaces */
}
.left-link {
    margin-right: 10px; /* Ajuste para separación entre los enlaces */
}
.links a {
    color: #38d39f;
    text-decoration: none;
}
.links a:hover {
    text-decoration: underline;
}
.btn {
    width: 100%;
    background-color: #38d39f;
    border: none;
    padding: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color .3s;
}
.btn:hover {
    background-color: #32b88f;
}
