.porque-perfectskin-section {
    padding: 50px 0;
    position: relative;
  
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
   
}


.left-content {
    width: 50%;
    background-color:#FEF1EF;
    padding: 5px 10px;
    border-radius: 10px;
    transform: translate(10%, -50%);
    padding: 20px;
    
    
}


.left-content h2 {
    font-size: 40px;
    color: #252525;
    margin-bottom: 20px;

}

.left-content p {
    font-size: 20px;
    line-height: 1.6;
    color: #252525;
    
}

.right-content {
    width: 40%;
    top:20px;

}

.perfectskin-image {
    width: 100%;
    
    box-shadow: 10 10px 20px 40px  #f29191;
}

@media screen and (max-width: 480px) {
    .porque-perfectskin-section{
        position: relative;
        margin-top: -25px;
    }

   
    
    .left-content h2 {
        font-size: 24px; /* Tamaño aún más pequeño para móviles */
    }

    .left-content p {
        font-size: 16px; /* Tamaño aún más pequeño para el texto */
    }

 
        .perfectskin-image {
            width: 170%; /* Ajustar aún más el ancho */
            top: -100%; /* Mover más arriba si es necesario */
            margin-left: -50%;
        }
    }
