/* registro_exitoso.css */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Aplicar la fuente globalmente */
body {
    font-family: "Cormorant Garamond", serif;
    font-size: 25px; /* Tamaño de fuente ajustado */
}
/* Estilo general para la sección de éxito de registro */
.registration-success-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background-color: #f6dada; /* Fondo blanco para la página */
}

.success-message {
    text-align: center;
    background-color: #f0bebe; /* Fondo blanco para el mensaje */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera para el cuadro del mensaje */
}

.success-message h2 {
    color: #ea716d; /* Color verde para el título */
    font-family: 'Mulish', sans-serif;
    margin-bottom: 20px;
}

.success-message p {
    color: #333333; /* Color de texto para el mensaje */
    font-family: 'Mulish', sans-serif;
    margin-bottom: 30px;
}

.success-message i {
    color: #fb4b4b; /* Color verde para el ícono */
}

.btn-primary {
    background-color: #f8a5a5; /* Color del botón */
    border-color: #f7b1b1; /* Color del borde del botón */
    font-family: 'Mulish', sans-serif;
}

.btn-primary:hover {
    background-color: #fa6c64; /* Color de fondo del botón en hover */
    border-color: #f1aeae; /* Color del borde del botón en hover */
}

@media (max-width: 768px) {
    .registration-success-content {
        padding: 10px;
    }

    .success-message {
        padding: 20px;
    }
}
