body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.background-container {
    position: relative; /* Necesario para colocar las imágenes en relación a este contenedor */
    width: 100%; /* O el ancho que desees */
    height: 550px; /* O la altura que desees */
    background-color: #eea7a7; /* Fondo rosado */
    display: flex;
    justify-content: center; /* Centra horizontalmente las imágenes */
    align-items: center; /* Centra verticalmente las imágenes */
}

.first-image {
    position: absolute; /* Superpuesta sobre el fondo */
    width: 1000px; /* Ajusta el tamaño de la imagen */
    height: auto;
    z-index: 1; /* Controla el orden de apilamiento (1 = debajo de la segunda imagen) */
    right: 0;
    
}

.second-image {
    position: absolute; /* Superpuesta sobre la primera imagen */
    width: 510px; /* Ajusta el tamaño de la segunda imagen */
    height: auto;
    z-index: 2; /* Esta imagen está por encima de la primera imagen */
    right: 350px;
    animation: slideUp 2s ease-out forwards; /* Aplica la animación */
    opacity: 0; /* Ocultar la imagen inicialmente */
}
@keyframes slideUp {
    0% {
        opacity: 0; /* Inicia siendo invisible */
        transform: translateY(100px); /* Desplazamiento desde abajo */
    }
    100% {
        opacity: 1; /* Totalmente visible */
        transform: translateY(0); /* Regresa a su posición original */
    }
}

.tercer-image {
    position: absolute; /* Superpuesta sobre la primera imagen */
    width: 365px; /* Ajusta el tamaño de la segunda imagen */
    height: auto;
    z-index: 3; /* Esta imagen está por encima de la primera imagen */
    left: 0;
    top: 0;
}
.star-image {
    position: absolute;
    width: 100px; /* Tamaño de la estrella */
    height: auto;
    top: 100px; /* Punto de partida */
    left: 100px;
    animation: moveAndRotate 20s infinite linear;/* Animación de movimiento y rotación */
}
@keyframes moveAndRotate {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(200px, 0) rotate(90deg);
    }
    50% {
        transform: translate(200px, 200px) rotate(180deg);
    }
    75% {
        transform: translate(0, 200px) rotate(270deg);
    }
    100% {
        transform: translate(0, 0) rotate(360deg);
    }
}
* {
    box-sizing: border-box;
}
.logo {
    position: absolute; /* Para permitir el posicionamiento */
    top: 10px; /* Ajusta la distancia desde el borde superior */
    left: 10px; /* Ajusta la distancia desde el borde izquierdo */
    width: 200px; /* Ajusta el tamaño del logo, puedes cambiar el valor según tu diseño */
    height: auto; /* Mantiene la proporción de la imagen */
    cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
    z-index: 10; /* Asegura que el logo esté por encima de otros elementos */
}

.logo:hover {
    opacity: 0.8; /* Un pequeño efecto hover para hacerlo más interactivo */
}


body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container-wrapper {
    position: relative;
    min-height: 500px; /* Mantener una altura mínima para el contenedor */
    margin-bottom: 20%;
    margin-top: 10%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.card-group {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 20px;
}
.card {
    width: 500px; /* Mantén el ancho según tus necesidades */
    height: 450px; /* Ajusta la altura según tus necesidades */
    margin: 20px; /* Espaciado alrededor de las tarjetas */
    padding: 0px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde para las tarjetas */
    border-radius: 8px; /* Bordes redondeados para la tarjeta */
    box-shadow: 0 10px 40px #f29191;
    display: flex; /* Flexbox para alinear contenido */
    flex-direction: column; /* Coloca los elementos en columna */
    justify-content: space-between; /* Espaciado entre elementos */
    background-color: rgb(245, 215, 215); /* Color de fondo */
}

.card img {
    width: 100%;
    height: 50%;
    
    border-top-left-radius: 8px; /* Redondea la esquina superior izquierda */
    border-top-right-radius: 8px;
    object-fit: cover
}
.imagen1{
    width: 100%;
    height: 50%;
    
    border-top-left-radius: 8px; /* Redondea la esquina superior izquierda */
    border-top-right-radius: 8px;
    object-fit: cover;
    object-position: 50% 35%;
}
.card h3 {
    text-align: center;
    font-family: 'Playfair Display', serif; /* Fuente elegante */
    font-size: 24px; /* Tamaño más grande */
    color: #342828; /* Color suave para mantener la estética del spa */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    letter-spacing: 1px; /* Espaciado entre letras */
    margin-bottom: 15px; /* Espaciado adecuado debajo */
    font-weight: 700; /* Negrita para que sea más llamativo */
    
}
/* Paginador */
.paginator {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%; /* Ajusta el ancho del botón para que no sea tan largo */
    margin: 0 auto; /* Centra el botón horizontalmente */
    margin-bottom: 20px; /* Ajusta el espacio debajo del botón */
}
/* From Uiverse.io by vikiWayne */ 
/* From Uiverse.io by cssbuttons-io */ 
button {
    --color: #f79898;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
  }
  
  button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }
  
  button:hover {
    color: #fff;
  }
  
  button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  
  button:hover:before {
    top: -30px;
    left: -30px;
  }
  
  button:active:before {
    background: #e62c2c;
    transition: background 0s;
  }
  
.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #f22f2f; /* Color activo */
}

/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease; /* Transición suave de opacidad */
    opacity: 0; /* Inicialmente transparente */
}

/* Estilo para la imagen dentro del modal */
.modal-img {
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 40%;
   border-top-left-radius: 8px; /* Redondea la esquina superior izquierda */
    border-top-right-radius: 8px;
    object-fit: cover;
}
.modal-img1{
    margin-top:0%;
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 40%;
    border-top-left-radius: 8px; /* Redondea la esquina superior izquierda */
    border-top-right-radius: 8px;
    object-fit: cover;
    object-position: 50% 35%;
}
/* Ajustes generales del modal */
.modal-content {
    max-width: 600px; /* Tamaño máximo del modal */
    height: 600px;
    margin: auto;
    padding: 0px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    top: 60px;
    box-shadow: 0 10px 40px #f29191;
    display: flex; /* Flexbox para alinear contenido */
    flex-direction: column; /* Coloca los elementos en columna */
    justify-content: space-between; /* Espaciado entre elementos */
    background-color: white;
    transition: opacity 0.5s ease; /* Transición suave para que el contenido aparezca */
    opacity: 0; /* Inicialmente transparente */
    z-index: 1001;
}
.modal-content h2, .modal-content p, .modal-content a {
    opacity: 0;
    transition: opacity 1s ease; /* Efecto de desvanecimiento para los textos */
    transition-delay: 0.5s; /* Retrasa la aparición de los textos */
}

/* Cuando el modal esté activo, establece la opacidad al máximo */
.modal.show {
    display: block;
    opacity: 1; /* El modal se mostrará completamente */
}

.modal.show .modal-content {
    opacity: 1; /* El contenido del modal se mostrará completamente */
}

.modal.show .modal-content h2, 
.modal.show .modal-content p, 
.modal.show .modal-content a {
    opacity: 1; /* Los textos aparecerán completamente */
}

.close {
    position: absolute; /* Para posicionarlo en relación al modal */
    top: 10px; /* Ajusta según el espacio que desees en la parte superior */
    right: 10px; /* Lo pega al borde derecho */
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
}
.close:hover {
    color: #f75c5c; /* Color de hover */
}
.modal-content h2 {
    font-family: 'Big Caslon', 'Sans-serif';
    font-size: 30px;
    text-align: center;
    color: #f4abab; /* Color suave */
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    line-height: 0.9em;
    letter-spacing: 2px;
}

.modal-content p {
    font-size: 18px;
    color: #666;
    text-align: center;
    margin-bottom: 15px;
}

/* Estilos del botón */
.modal-content .button {
   
        text-align: center;
        text-decoration: none;
        --color: #f79898;
        font-family: inherit;
        display: block; /* Cambiar a block */
        width: 8em;
        height: 2.6em;
        line-height: 2.5em;
        margin: 20px auto; /* Centrar el botón horizontalmente */
        position: relative;
        cursor: pointer;
        overflow: hidden;
        border: 2px solid var(--color);
        transition: color 0.5s;
        z-index: 1;
        font-size: 17px;
        border-radius: 6px;
        font-weight: 500;
        color: var(--color);
}
    
.modal-content .button:before {
        content: "";
        position: absolute;
        z-index: -1;
        background: var(--color);
        height: 150px;
        width: 200px;
        border-radius: 50%;
      }
      
      .modal-content .button:hover {
        color: #fff;
      }
      
      .modal-content .button:before {
        top: 100%;
        left: 100%;
        transition: all 0.7s;
      }
      
      .modal-content .button:hover:before {
        top: -30px;
        left: -30px;
      }
      
      .modal-content .button:active:before {
        background: #e62c2c;
        transition: background 0s;
      }

      .benefits-title {
        font-weight: bold;
        font-size: 1.2em;
        margin-top: 10px;
        color: #007BFF;
        text-align: center;
    }
    
    .benefits-list {
        list-style-type: none;
        padding: 0;
        text-align: left;
        margin: 0 auto;
        line-height: 1.6;
        font-weight: bold;
    }
    
    .benefits-list li {
        margin: 0 auto;
        padding-left: 15px;
        color: #33383b;
    }
    .benefits-list li::before {
        content: "✔";
        position: absolute;
        left: 100px; /* Ajuste la posición para estar más cerca del texto */
        color: #ff9696;
    }
    .benefits-title2 {
        font-weight: bold;
        font-size: 1.2em;
        margin-top: 10px;
        color: #007BFF;
    }
    
    .benefits-list2 {
        list-style-type: none;
        padding: 0;
        text-align: left;
        margin: 0 auto;
        line-height: 1.6;
        font-weight: bold;
     }
    
    .benefits-list2 li {
        margin: 0 auto;
        padding-left: 15px;
        color: #33383b;
    }

    
    .benefits-list2 li::before {
        content: "✔";
        position: absolute;
        left: 110px; /* Ajuste la posición para estar más cerca del texto */
        color: #ff9696;
        
    }

    .benefits-list3 li::before {
        content: "✔";
        position: absolute;
        left: 80px; /* Ajuste la posición para estar más cerca del texto */
        color: #ff9696;
        
    }
    .benefits-list3 li {
        margin: 0 auto;
        padding-left: 15px;
        color: #33383b;
    }

     
    .benefits-list3 {
        list-style-type: none;
        padding: 0;
        text-align: left;
        margin: 0 auto;
        line-height: 1.6;
        font-weight: bold;
       
     }

     .benefits-list4 li::before {
        content: "✔";
        position: absolute;
        left: 80px; /* Ajuste la posición para estar más cerca del texto */
        color: #ff9696;
        
    }
    .benefits-list4 li {
        margin: 0 auto;
        padding-left: 15px;
        color: #33383b;
    }

    .benefits-list4{
        list-style-type: none;
        padding: 0;
        text-align: left;
        margin: 0 auto;
        line-height: 1.6;
        font-weight: bold;
       
     }


     .price {
        font-size: 1.2em;
       margin-top: -5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #d9534f;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
      
    }
    
    .duration::before {
        content: "\1F553"; /* Emoji de reloj */
        margin-right: 8px;
        color:#d9534f;
    }
    
    .cost {
        margin-left: 8px;
        color: #d9534f;
        font-weight: bold;
    }
    
    .cost::before {
        content: "\1F4B5"; /* Emoji de dinero */
        margin-right: 5px;
    }
    

