
.music-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
  }
  
  #playPauseBtn {
    
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 10px 40px #f29191;
    cursor: pointer;
  }
  
  #playPauseBtn span {
    font-size: 24px;
    color: rgb(238, 136, 120);
  }
  

  



